<h4 class="text-warning">
Top 25% Economics Departments, all authors, all publication years
</h4>
<p>Department of Economics, Harvard University</p>
<p>Economics Department, Massachusetts Institute of Technology (MIT)</p>
<p>Department of Economics, University of Chicago</p>
<p>Paris School of Economics</p>
<p>Department of Economics, Princeton University</p>
<p>Department of Economics, Stanford University</p>
<button class="btn btn-warning" (click)="deptchild()">DeptChild</button>
<router-outlet></router-outlet>

